{% extends "festflow/base.html" %}
{% load static %}


{% block title %} ABOUT US {% endblock %}


{% block body_contents %}
   
    
<div class="container">
    <div class="jumbotron">

    	<h1>Add About </h1>

         <form class="form-inline" id="item_form" method="post"
             action="/adminaddabout/" enctype="multipart/form-data">

            {% csrf_token %}

      <table>
          <tr>
           
            <td>
              <label for="Identifier"><i>Identifier</i> </label>
            </td>  
            <td> 
                <input type="text" name="identifier" id="identifier" class="form-control">
            </td>    
            </tr>
            <tr>
                <td>
                <label class="required" for="id_content"><i>Content</i> </label>                    
                </td>
                <td>
                <textarea name="content" cols="40" rows="10" class="vLargeTextField" required id="id_content"></textarea>                    
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                  <button class="btn btn-info mb-2 waves-effect waves-light">Save <i class="fas fa-send ml-1"></i></button>
                    
                </td>
            </tr>
        </table>
        </form>

    </div>
    </div>



{% endblock %}
