{% extends "festflow/base.html" %}
{% load static %}


{% block body_contents %}
    
<div class="container">
    <div class="jumbotron">

        <h3><u>Add volunteer/organizer</u> </h3>

         <form class="form-inline" id="item_form" method="post"/organizer
             action="/adminaddorganizer/" enctype="multipart/form-data">

            {% csrf_token %}

      <table>
          <tr>
           
            <td>
                    <label for="name">Name:</label>
            </td>  
            <td> 
                    <input type="name"  required="" name="name" class="form-control" id="name">
            </td>    
            </tr>

          <tr>
            <td>
                    <label for="position">Position:</label>
            </td>  
            <td> 
                    <input name="position" name="position" class="form-control" id="position">
            </td>    
            </tr>

            <tr>
                <td>
                    <label for="contactnumber">Contact Number:</label>
                </td>
                <td>
                    <input type="contactnumber" name="contactnumber" required="" class="form-control" id="contactnumber" maxlength="10">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email Id:</label>
                </td>
                <td>
                    <input type="email" name="emailid" required="" class="form-control" maxlength="254" id="id_emailId">
                </td>
            </tr>
            <tr>
                <td>
                    
                </td>
                <td>
                  <button class="btn btn-info mb-2 waves-effect waves-light">Save <i class="fas fa-send ml-1"></i></button>
                    
                </td>
            </tr>
        </table>
        </form>

    </div>
    </div>



{% endblock %}
