{% extends "festflow/base.html" %}
{% load static %}

{% block title %} EVENTS {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/other.css" %}'/>

{% endblock %}

{% block body_contents %}

<div class="container">
    <div class="jumbotron">
        <h2 id='link'>Events </h2>
              {% if user.is_authenticated %}
               {% if user.username == 'admin' %}
                    <h4>
                        <a href="/adminaddevent" class="btn btn-info" role="button">Add event + </a>
                    </h4>
               {% endif %}
              {% endif %}



        <div class="dash"></div>
        <br />
        <br />
        <br />
        <div class='row'>
            {% for event in all_events %}
            <div class='col-lg-4'>
                <a href="{{ event.get_absolute_url }}">
                    {% if event.logo %}
                    <img src="{{ event.logo.url }}" width='70%' alt= "{{ event.name }}" class='img-responsive' />
                    {% endif %}
                    <div class='event-text'>
                        <div class="subdash"></div>
                        <p>{{ event.name }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
