{% extends "festflow/base.html" %}
{% load static %}
{% block title %} SPONSORS {% endblock %}

{% block extra_head %}

<!-- View CSS -->
<link rel="stylesheet" type="text/css" href='{% static "css/other.css" %}'/>

{% endblock %}

{% block body_contents %}
<div class="container">
    <div class="jumbotron">
        <h2 id='link'> Sponsors </h2>
              {% if user.is_authenticated %}
               {% if user.username == 'admin' %}
                    <h4>
                    <a href="/adminaddsponsors" class="btn btn-info" role="button">Add sponsors + </a>
                    </h4>
               {% endif %}
              {% endif %}
        

        <div class="dash"></div>
        <br />
        <br />
        <br />
        <div class='row'>
            {% for sponsor in all_sponsors %}
            <div class='col-lg-4'>
                <img src="{{ sponsor.logo.url }}" width='100%' alt='{{ sponsor.name }}' class='img-responsive'/>
                <div class='event-text'>
                    <div class="subdash"></div>
                    {{ sponsor.name }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
